.projects {
    background-color: white;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    .projects-display{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            display: none;
            margin: 1rem;
        }
        :nth-child(-n + 5) {
            display: block;
        }
    }
}

.dark .projects {
    background-color: lighten($very-dark-gray, 5%);
}