.skills {
    background-color: $skill-bg;
    transition: all 0.25s;
    max-height: auto;
    height: 100%;
    .skills-head {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        h1 {
            font-size: 2.5rem;
            text-align: center;
            margin: 0;
        }
    }
    .skills-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .skill-div {
            .skill-card {
                margin: 1rem;
                .skill {
                    font-size: 1.2rem;
                }
                .logo {
                    height: 2rem;
                }
            }
        }
        margin-bottom: 2rem;
    }
}

.dark {
    .skills {
        background-color: $skill-bg-dark;
    }
    .link-button {
        h1 {
            color: $skill-show-all-dark !important;
        }
        i {
            svg {
                fill: $skill-show-all-dark !important;
            }
        }
        &:hover {
            h1 {
                color: lighten($skill-show-all-dark, 5%) !important;
            }
            i {
                svg {
                    fill: lighten($skill-show-all-dark, 5%) !important;
                }
            }
        }
    }
}

@include breakpoint(550px) {
    .skills {
        .skills-head {
            h1 {
                font-size: 3rem;
            }
        }
        .skills-div {
            .skill-div {
                .skill-card {
                    .skill {
                        font-size: 1.5rem;
                    }
                    .logo {
                        height: 2.5rem;
                    }
                }
            }
        }
    }
}