$breakpoints: (
	"xs": 0,
	"sm": 480px,
	"md": 720px,
	"lg": 1050px,
	"xl": 1200px,
    "2xl": 1400px,
    "3xl": 1600px,
);

$fade-default: 100px;

//colors

$very-dark-blue: #0D1321;
$dark-blue-2: #181D27;
$dark-blue: #0A2463;
$blue: #5658dd; 
$light-blue: #7578ff;

$pink: #FF5964;

$purpleish: #89023E;

$red: #c8302c;
$light-red: #e13b25;

$green: #05c59b;
$light-green: #16d6aa;
$very-light-green: #A9FFCB;

$orange: #fe7000;
$light-orange: #ff880a;

$gray-blue: #6288c3;
$light-gray-blue: #7092c9;

$yellow: #FFEE32;
$very-dark-gray: #131313;

// light mode
$nav-link-col: $blue;
$nav-title-col: $purpleish;
$nav-title-icon: $orange;

$home-heading-1: $dark-blue;
$home-heading-span-1: $orange;
$home-heading-2: #000;
$home-heading-span-2: $purpleish;
$home-link-main: $light-orange, $dark-blue;
$social-links: $yellow;

$about-bg: white;
$about-heading: $blue;
$about-blob: $blue;
$about-data: $blue;
$about-link: $red;
$about-link-hover: $light-red;


// dark mode
$nav-bg-dark: $very-dark-blue;
$nav-link-dark: $pink;
$nav-title-dark: $light-green;
$nav-title-icon-dark: $light-orange;

$home-heading-1-dark: $light-gray-blue;
$home-heading-span-1-dark: $light-orange;
$home-heading-2-dark: #f7f7f7;
$home-heading-span-2-dark: $light-green;
$home-link-main-dark: $yellow, $very-light-green;
$social-links-dark: $light-blue;

$about-bg-dark: $very-dark-gray;
$about-heading-dark: $pink;
$about-blob-dark: $pink;
$about-data-dark: $pink;
$about-link-dark: $blue;
$about-link-hover-dark: $light-blue;