.card {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.25s;
    .img {
        &:nth-of-type(1) {
            display: none;
        }
        &:nth-of-type(2) {
            display: none;
        }
    }
    .project-details {
        position: absolute;
        bottom: 0%;
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        h2 {
            background-color: $p-head;
            padding: 0.8rem 0;
            text-align: center;
            margin: 0px;
            color: $p-head-text;
        }
        .details {
            transition: max-height 0.5s ease-in-out;
            max-height: 0px;
            p {
                color: black;
                text-align: center;
                padding: 1rem;
                margin: 0;
            }
            .links {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-top: 0px;

                a {
                    position: relative;
                    text-decoration: none;
                    background-color: darken($p-button, 10%);
                    font-size: 1.2rem;
                    padding: 0.7rem;
                    border-radius: 5px;
                    color: $p-button-text;
                    transition: all 0.25s;
                    z-index: 0;
                    div {
                        display: flex;
                        align-items: center;
                        column-gap: 0.5rem;
                        transform: translateY(-6px);
                        transition: all 0.25s;
                        svg {
                            fill: $p-button-text;
                            width: 1.2rem;
                            height: 1.2rem;
                        }
                    }
                    &:after {
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        content: ' ';
                        height: 100%;
                        width: 100%;
                        transform: translateY(-6px);
                        background-color: $p-button;
                        border-radius: 5px;
                        z-index: -1;
                        transition: all 0.25s;
                    }

                    &:hover {
                        background-color: darken($p-button, 5%);
                        &:after {
                            background-color: lighten($p-button, 5%);
                        }
                    }

                    &:active {
                        &:after {
                            transform: translateY(-3px);
                        }
                        div {
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }
    }
    &:hover .project-details .details {
        max-height: 243px;
    }
}

.card * {
    transition: all 0.25s;
}

.dark {
    .card {
        .project-details {
            h2 {
                background-color: $p-head-dark;
                color: $p-head-text-dark;
            }
            .details{
                .links{ 
                    a {
                        background-color: darken($p-button-dark, 10%);
                        color: $p-button-text-dark;
                        div {
                            svg {
                                fill: $p-button-text-dark;
                            }
                        }
                        &:after {
                            background-color: $p-button-dark;
                        }
                        &:hover {
                            background-color: darken($p-button-dark, 5%);
                            &:after {
                                background-color: lighten($p-button-dark, 5%);
                            }
                        }
                    }
                }
            }
        }
    }
}