.skill-div {
    width: 100%;
}
.skill-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding: 1rem 2rem;
    position: relative;
    border-radius: 5px;

    margin: 2rem auto;

    .bar {
        position: absolute;
        border-radius: 10px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .skill, .lvl {
        font-size: 1.5rem;
        font-weight: 400;
        z-index: 1;
        margin: 0;
    }

    .skill {
        color: white;
    }

    .lvl {
        color: black;
    }
}

.Expert {
    .bar {
        width: 100%;
        background: #fc4a1a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.Advance {
    .bar {
        width: 100%;
        background: #2193b0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #75e5ff, #145e70);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #75e5ff, #145e70); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.Intermediate {
    .bar {
        width: 100%;
        background: #1f4037;
        background: -webkit-linear-gradient(to left, #99f2c8, #1f4037);
        background: linear-gradient(to left, #99f2c8, #1f4037);
    }
}

.Beginner {
    .bar {
        width: 100%;
        background: #304352;
        background: -webkit-linear-gradient(to left, #d7d2cc, #304352);
        background: linear-gradient(to left, #d7d2cc, #304352);

        
    }
}

.dark {
    .skill-card {
        color: efefef;
    }
}