.skill-card {
    a {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        padding: 1rem 2rem;
        position: relative;
        border-radius: 10px;
        margin: 0;
        align-items: center;
        transition: transform 0.25s;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        .bar {
            position: absolute;
            border-radius: 10px;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
        }

        .skill {
            font-size: 1.5rem;
            font-weight: 700;
            z-index: 1;
            margin: 0;
            color: white;
        }

        .logo {
            z-index: 1;
        }
        &:hover {
            transform: scale(1.2);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
        }
    }
}

.A1 {
    .bar {
        background: #fc4a1a;
        background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
        background: linear-gradient(to right, #f7b733, #fc4a1a);
    }
}

.A2 {
    .bar {
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

.A3 {
    .bar {
        background: #11998e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

.A4 {
    .bar {
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

.A5 {
    .bar {
        background: #56CCF2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

.A6 {
    .bar {
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}